$breakpoint-sm: 320px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;

$background-color: #cbcbcb;
$theme-color: #1AB78D;
$theme-color-bright: #1ADAAF;
$theme-color-dark: #0F7A5F;

$input-text-dark: #d9d9d9;
$input-text-dark-focus: #f2f2f2;

@mixin fontThemeColor {
  color: $theme-color;
}

@mixin boxShadowBlack {
  box-shadow: 0 0 1rem 0.3rem rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.5s;
}

@mixin boxShadowHover {
  box-shadow: 0 0 0.9rem $theme-color;
  transition: box-shadow 0.5s;
}

@mixin tripHippieButton {
  @include boxShadowBlack;
  border: none;
  border-radius: 0.5rem;
  background-color: $theme-color;
  color: white;
  cursor: pointer;

  transition: background-color 0.5s;

  &:hover {
    background-color: $theme-color-bright;
  }

  &:active {
    background-color: $theme-color-bright;
    transform: scale(0.98);
  }

  &:disabled {
    background-color: $theme-color-dark;
    cursor: not-allowed;
  }
}
